<mat-card class="card mat-elevation-z8">
    <h1 style="text-align:center"><strong>Techsolutio</strong></h1>
    <mat-card-content>
        <p style="text-align: center">
        Olá! Seja bem vindo ao sistema de produtos desenvolvido por mim João Pedro.
        Esse é um simples sistema para gerenciamento de produtos. O mesmo foi desenvolvido em Angular 12 e
        Spring Boot 2.6.1. <br />O projeto tem como objetivo principal testar minhas habilidades e avaliar 
        se sou apto a exercer o cargo de Desenvolvedor Java Junior na Techsolutio.
        Fique a vontade para testar o sistema e deixar sua sugestão.
        <br /><br /><strong>Att: João Pedro dos Anjos Lopes</strong> 
        </p>
    </mat-card-content>
    <figure class="gif">
        <img mat-card-image src="assets/img/monkey-23.gif" alt="Image Home Techsolutio">
    </figure>
  </mat-card>
